<a href="https://colab.research.google.com/github/umar-faroooq/Jupyter-notebooks/blob/main/Atka_Task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [2]:
import pandas as pd
import numpy as np



# Data loading

In [18]:
data = pd.read_csv('/content/drive/MyDrive/bert/kidney_disease_imputed.csv')

In [19]:
data.head(5)

   Unnamed: 0   id   age    bp     sg  ...  cad  appet   pe  ane  classification
0           0  0.0  48.0  80.0  1.020  ...  1.0    0.0  0.0  0.0             0.0
1           1  1.0   7.0  50.0  1.020  ...  1.0    0.0  0.0  0.0             0.0
2           2  2.0  62.0  80.0  1.010  ...  1.0    1.0  0.0  1.0             0.0
3           3  3.0  48.0  70.0  1.005  ...  1.0    1.0  1.0  1.0             0.0
4           4  4.0  51.0  80.0  1.010  ...  1.0    0.0  0.0  0.0             0.0

[5 rows x 27 columns]

In [20]:
data = data.drop('Unnamed: 0', axis=1)
data.head(5)

    id   age    bp     sg   al   su  ...   dm  cad  appet   pe  ane  classification
0  0.0  48.0  80.0  1.020  1.0  0.0  ...  4.0  1.0    0.0  0.0  0.0             0.0
1  1.0   7.0  50.0  1.020  4.0  0.0  ...  3.0  1.0    0.0  0.0  0.0             0.0
2  2.0  62.0  80.0  1.010  2.0  3.0  ...  4.0  1.0    1.0  0.0  1.0             0.0
3  3.0  48.0  70.0  1.005  4.0  0.0  ...  3.0  1.0    1.0  1.0  1.0             0.0
4  4.0  51.0  80.0  1.010  2.0  0.0  ...  3.0  1.0    0.0  0.0  0.0             0.0

[5 rows x 26 columns]

In [21]:
data.isnull().sum().sum()

0

In [22]:
data.isnull().sum()

id                0
age               0
bp                0
sg                0
al                0
su                0
rbc               0
pc                0
pcc               0
ba                0
bgr               0
bu                0
sc                0
sod               0
pot               0
hemo              0
pcv               0
wc                0
rc                0
htn               0
dm                0
cad               0
appet             0
pe                0
ane               0
classification    0
dtype: int64

In [23]:
data.describe().transpose()

                count        mean         std  ...      50%        75%      max
id              400.0  199.500000  115.614301  ...  199.500  299.25000  399.000
age             400.0   51.464875   16.989096  ...   54.000   64.00000   90.000
bp              400.0   76.463750   13.485742  ...   80.000   80.00000  180.000
sg              400.0    1.017117    0.005514  ...    1.015    1.02000    1.025
al              400.0    1.067375    1.296928  ...    0.000    2.00000    5.000
su              400.0    0.452250    1.039740  ...    0.000    0.16250    5.000
rbc             400.0    0.122500    0.932560  ...    1.000    1.00000    1.000
pc              400.0    0.485000    0.759089  ...    1.000    1.00000    1.000
pcc             400.0    0.095000    0.325946  ...    0.000    0.00000    1.000
ba              400.0    0.045000    0.251262  ...    0.000    0.00000    1.000
bgr             400.0  149.810125   75.470668  ...  124.000  172.00000  490.000
bu              400.0   57.649963   49.518407  ...   43.000   68.00000  391.000
sc              400.0    3.089600    5.632807  ...    1.300    3.00000   76.000
sod             400.0  137.067625    9.345403  ...  137.000  141.00000  163.000
pot             400.0    4.602775    2.832867  ...    4.400    4.81875   47.000
hemo            400.0   12.363688    2.810355  ...   12.200   14.80000   17.800
pcv             400.0   21.977500   13.437761  ...   25.000   32.00000   43.000
wc              400.0   40.017500   33.488968  ...   46.000   70.00000   91.000
rc              400.0   18.587500   16.366643  ...   20.000   33.00000   48.000
htn             400.0    0.362500    0.491628  ...    0.000    1.00000    1.000
dm              400.0    3.280000    0.653964  ...    3.000    4.00000    4.000
cad             400.0    1.070000    0.324597  ...    1.000    1.00000    2.000
appet           400.0    0.202500    0.408547  ...    0.000    0.00000    1.000
pe              400.0    0.187500    0.397163  ...    0.000    0.00000    1.000
ane             400.0    0.147500    0.362038  ...    0.000    0.00000    1.000
classification  400.0    0.755000    0.968152  ...    0.000    2.00000    2.000

[26 rows x 8 columns]

In [24]:
data.describe().transpose()

                count        mean         std  ...      50%        75%      max
id              400.0  199.500000  115.614301  ...  199.500  299.25000  399.000
age             400.0   51.464875   16.989096  ...   54.000   64.00000   90.000
bp              400.0   76.463750   13.485742  ...   80.000   80.00000  180.000
sg              400.0    1.017117    0.005514  ...    1.015    1.02000    1.025
al              400.0    1.067375    1.296928  ...    0.000    2.00000    5.000
su              400.0    0.452250    1.039740  ...    0.000    0.16250    5.000
rbc             400.0    0.122500    0.932560  ...    1.000    1.00000    1.000
pc              400.0    0.485000    0.759089  ...    1.000    1.00000    1.000
pcc             400.0    0.095000    0.325946  ...    0.000    0.00000    1.000
ba              400.0    0.045000    0.251262  ...    0.000    0.00000    1.000
bgr             400.0  149.810125   75.470668  ...  124.000  172.00000  490.000
bu              400.0   57.649963   49.518407  ...   43.000   68.00000  391.000
sc              400.0    3.089600    5.632807  ...    1.300    3.00000   76.000
sod             400.0  137.067625    9.345403  ...  137.000  141.00000  163.000
pot             400.0    4.602775    2.832867  ...    4.400    4.81875   47.000
hemo            400.0   12.363688    2.810355  ...   12.200   14.80000   17.800
pcv             400.0   21.977500   13.437761  ...   25.000   32.00000   43.000
wc              400.0   40.017500   33.488968  ...   46.000   70.00000   91.000
rc              400.0   18.587500   16.366643  ...   20.000   33.00000   48.000
htn             400.0    0.362500    0.491628  ...    0.000    1.00000    1.000
dm              400.0    3.280000    0.653964  ...    3.000    4.00000    4.000
cad             400.0    1.070000    0.324597  ...    1.000    1.00000    2.000
appet           400.0    0.202500    0.408547  ...    0.000    0.00000    1.000
pe              400.0    0.187500    0.397163  ...    0.000    0.00000    1.000
ane             400.0    0.147500    0.362038  ...    0.000    0.00000    1.000
classification  400.0    0.755000    0.968152  ...    0.000    2.00000    2.000

[26 rows x 8 columns]

# train test split

In [25]:
x, y = data.iloc[:, :-1], data.iloc[:, [-1]]

In [26]:
x

        id   age    bp     sg   al   su  ...  htn   dm  cad  appet   pe  ane
0      0.0  48.0  80.0  1.020  1.0  0.0  ...  1.0  4.0  1.0    0.0  0.0  0.0
1      1.0   7.0  50.0  1.020  4.0  0.0  ...  0.0  3.0  1.0    0.0  0.0  0.0
2      2.0  62.0  80.0  1.010  2.0  3.0  ...  0.0  4.0  1.0    1.0  0.0  1.0
3      3.0  48.0  70.0  1.005  4.0  0.0  ...  1.0  3.0  1.0    1.0  1.0  1.0
4      4.0  51.0  80.0  1.010  2.0  0.0  ...  0.0  3.0  1.0    0.0  0.0  0.0
..     ...   ...   ...    ...  ...  ...  ...  ...  ...  ...    ...  ...  ...
395  395.0  55.0  80.0  1.020  0.0  0.0  ...  0.0  3.0  1.0    0.0  0.0  0.0
396  396.0  42.0  70.0  1.025  0.0  0.0  ...  0.0  3.0  1.0    0.0  0.0  0.0
397  397.0  12.0  80.0  1.020  0.0  0.0  ...  0.0  3.0  1.0    0.0  0.0  0.0
398  398.0  17.0  60.0  1.025  0.0  0.0  ...  0.0  3.0  1.0    0.0  0.0  0.0
399  399.0  58.0  80.0  1.025  0.0  0.0  ...  0.0  3.0  1.0    0.0  0.0  0.0

[400 rows x 25 columns]

In [27]:
y

     classification
0               0.0
1               0.0
2               0.0
3               0.0
4               0.0
..              ...
395             2.0
396             2.0
397             2.0
398             2.0
399             2.0

[400 rows x 1 columns]

In [29]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.20, random_state=42)

In [31]:
X_train

        id   age     bp       sg    al   su  ...  htn   dm  cad  appet   pe  ane
3      3.0  48.0   70.0  1.00500  4.00  0.0  ...  1.0  3.0  1.0    1.0  1.0  1.0
18    18.0  60.0  100.0  1.02500  0.00  3.0  ...  1.0  4.0  2.0    0.0  0.0  0.0
202  202.0  78.0   60.0  1.01450  1.40  0.2  ...  0.0  4.0  1.0    0.0  0.0  1.0
250  250.0  40.0   80.0  1.02500  0.00  0.0  ...  0.0  3.0  1.0    0.0  0.0  0.0
274  274.0  19.0   80.0  1.02000  0.00  0.0  ...  0.0  3.0  1.0    0.0  0.0  0.0
..     ...   ...    ...      ...   ...  ...  ...  ...  ...  ...    ...  ...  ...
71    71.0  46.0   60.0  1.01000  1.00  0.0  ...  1.0  4.0  1.0    0.0  0.0  0.0
106  106.0  50.0   90.0  1.01275  1.75  0.2  ...  1.0  4.0  1.0    0.0  1.0  1.0
270  270.0  23.0   80.0  1.02500  0.00  0.0  ...  0.0  3.0  1.0    0.0  0.0  0.0
348  348.0  38.0   80.0  1.02000  0.00  0.0  ...  0.0  3.0  1.0    0.0  0.0  0.0
102  102.0  17.0   60.0  1.01000  0.00  0.0  ...  0.0  3.0  1.0    0.0  0.0  0.0

[320 rows x 25 columns]

In [32]:
X_test

        id   age     bp       sg   al   su  ...  htn   dm  cad  appet   pe  ane
209  209.0  19.0   70.0  1.02000  0.0  0.0  ...  0.0  3.0  1.0    0.0  0.0  0.0
280  280.0  47.0   80.0  1.02225  0.0  0.0  ...  0.0  3.0  1.0    0.0  0.0  0.0
33    33.0  60.0  100.0  1.02000  2.0  0.0  ...  1.0  3.0  1.0    1.0  0.0  0.0
210  210.0  59.0  100.0  1.01500  4.0  2.0  ...  1.0  4.0  2.0    0.0  0.0  1.0
93    93.0  73.0  100.0  1.01000  3.0  2.0  ...  1.0  4.0  2.0    1.0  0.0  0.0
..     ...   ...    ...      ...  ...  ...  ...  ...  ...  ...    ...  ...  ...
246  246.0  48.0  110.0  1.01500  3.0  0.0  ...  1.0  3.0  2.0    0.0  0.0  1.0
227  227.0  57.0   80.0  1.01500  0.0  0.0  ...  1.0  4.0  1.0    0.0  0.0  0.0
369  369.0  75.0   70.0  1.02000  0.0  0.0  ...  0.0  3.0  1.0    0.0  0.0  0.0
176  176.0  21.0   90.0  1.01000  4.0  0.0  ...  0.0  3.0  1.0    0.0  0.0  1.0
289  289.0  42.0   70.0  1.02000  0.0  0.0  ...  0.0  3.0  1.0    0.0  0.0  0.0

[80 rows x 25 columns]

In [33]:
y_train

     classification
3               0.0
18              0.0
202             0.0
250             2.0
274             2.0
..              ...
71              0.0
106             0.0
270             2.0
348             2.0
102             0.0

[320 rows x 1 columns]

In [34]:
y_test

     classification
209             0.0
280             2.0
33              0.0
210             0.0
93              0.0
..              ...
246             0.0
227             0.0
369             2.0
176             0.0
289             2.0

[80 rows x 1 columns]

# SVM (Support Vector Machine)

In [35]:
import numpy as np
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC

In [36]:
clf = make_pipeline(StandardScaler(), SVC(gamma='auto'))
clf.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:985: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('svc', SVC(gamma='auto'))])

In [39]:
y_predict = clf.predict(X_test)

In [40]:
from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_predict))

Accuracy: 1.0

# Random forest classifier

In [41]:
from sklearn.ensemble import RandomForestClassifier

#Create a Gaussian Classifier
clf=RandomForestClassifier(n_estimators=100)

In [42]:
clf.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [43]:
y_pred = clf.predict(X_test)

In [47]:
y_pred

array([0., 2., 0., 0., 0., 0., 2., 0., 2., 0., 0., 2., 0., 0., 0., 0., 2.,
       2., 0., 2., 0., 0., 2., 2., 0., 2., 0., 0., 2., 0., 2., 0., 2., 0.,
       0., 0., 0., 2., 0., 0., 2., 0., 0., 0., 0., 2., 0., 0., 0., 0., 0.,
       2., 2., 0., 2., 0., 0., 0., 0., 0., 0., 2., 2., 0., 0., 0., 2., 2.,
       2., 0., 2., 0., 0., 0., 2., 0., 0., 2., 0., 2.])

In [46]:
y_test

     classification
209             0.0
280             2.0
33              0.0
210             0.0
93              0.0
..              ...
246             0.0
227             0.0
369             2.0
176             0.0
289             2.0

[80 rows x 1 columns]

In [44]:
from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_predict))

Accuracy: 1.0

# Decision Tree

In [48]:
from sklearn import tree

In [49]:
clf = tree.DecisionTreeClassifier()

In [51]:
clf.fit(X_train, y_train)

DecisionTreeClassifier()

In [54]:
pred = clf.predict(X_test)

In [55]:
from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, pred))

Accuracy: 0.95